@font-face {
    font-family: 'logo';
    src: url(../fonts/BIG-JOHN.otf);
}
@font-face {
    font-family: 'sansb';
    src: url(../fonts/open-sans-bold.ttf);
}
@font-face {
    font-family: 'sans';
    src: url(../fonts/OpenSans.ttf);
}
@font-face {
    font-family: 'sourcesansb';
    src: url(../fonts/source-sans-pro-black.ttf);
}
@font-face {
    font-family: 'sourcesansl';
    src: url(../fonts/source-sans-pro-light.ttf);
}
@font-face {
    font-family: 'fontello';
    src: url(../fonts/fontello.ttf);
}

html {
    font-size: 62.5%;
}
body{
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.minicontainer{
    width: 1030px;
    
    margin: 0 auto;
}

$white:#ffffff;
$green:#19bd9a;
$blue:#333b46;
$gray:#81868e;
$background:#f3f3f3;
$black:#464646;


* {
    margin: 0;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    & h1{
        font-family: sourcesansl;
        font-size: 20px;
        color: $blue;
        margin-bottom: 3rem;
        letter-spacing: 5px;
    }
    & p{
        font-family: sans;
        font-size: 14px;
        color: $gray;
        text-align: center;
        width: 42%;
        letter-spacing: 1px;
    }
    &--white{
        @extend .title;
        & h1{
        color: $white;
        
        }
    }
}
.slider{
    background-image: url(../images/novbar.png);
    background-position: center;
    padding: 4rem 0 7.7rem 0;
    box-sizing: border-box;
    height: 100vh;
    &__logo{
        font-family: logo;
        font-size: 25px;
        color: $white;
        text-decoration: none;
        outline: none;
    }
    &__novbar{
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 1;
        padding: 10px 0;

    }
    &__burger{
        display: none;
        cursor: pointer;
        &--click{
            position: absolute;
            display: none;
            flex-direction: column;
            top: 0;
            right: 40px;
            background-color: rgba(0, 120, 201, 0.0);
            & a{
                font-family: sans;
                color:$white;
                font-size: 16px;
                padding: 10px 20px;
                border-top: 1px solid $black;
                border-bottom: 1px solid $black;
                cursor: pointer;
                text-decoration: none;
                width: 150px;
                text-align: center;
            }
        }
    }
    &__close{
        display: none;
        cursor: pointer;
    }
    &__container{
        max-width: 1170px;
        margin: 0 auto; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
    }
    &__title{
        display: flex;
        justify-content: space-between;
        & a{
            font-family: sans;
            color:$white;
            font-size: 16px;
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
            outline: none;
            &:hover{
                border: 1px solid $white;
                padding: 9px 19px;
                border-radius: 14px;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 220px;
        & h1{
            font-family: sourcesansl;
            color:$white;
            font-size: 35px;
            line-height: 70px;
            letter-spacing: 10px;
            text-align: center;
            
        }
        & p{
            font-family: sans;
            color:$white;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            width: 47%;
        }
    }
    &__arrow{
        font-family: fontello;
        font-size: 30px;
        color: $white;
        background-color: $green;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 220px;
        animation-name: arrow;
        cursor: pointer;
        animation-duration: 1.2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-direction: normal;
        @keyframes arrow {
            0%{
                transform:translateY(-5px);
            }
            100%{
                transform:translateY(5px)
            }
            
        }
    }
}
.about{
    display: flex;
    padding: 8rem 0;
    justify-content: space-between;
    align-items: center;
    &__content{
        margin-left: 170px;
        & h1{
            font-family: sourcesansl;
            font-size: 20px;
            color: $blue;
        }
        & p{
            font-family: sans;
            font-size: 14px;
            color: $gray;
            line-height: 25px;
            width: 71%;
            margin-top: 50px;
            margin-bottom: 60px;
            letter-spacing: 1px;
        }
        & a{
            font-family: sans;
            font-size: 16px;
            color: $blue;
            padding: 12px 30px;
            border: 1px solid $blue;
            border-radius: 40px;
            text-decoration: none;
            
        }
        
    }
    & img{
        margin-right: 150px;
    }
}
.details{
    padding: 8rem 0 10rem 0;
    background-color: $background;
    &__icon{
        display: flex;
        width: 220px;
        justify-content: space-between;
        margin: 0 auto;
        & p{
            font-family: fontello;
            font-size: 30px;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: $gray;
            cursor: pointer;
            &:hover{
                background-color: $green;
            }
        }
    } 
    &__content{
        
        display: flex;
        justify-content: space-between;
        & p{
            height: 124px;
            font-family: sans;
            font-size: 14px;
            color: $gray;
            line-height: 25px;
            letter-spacing: 1px;
        }
        &--left{
            width: 30%;
        }
        &--right{
            width: 50%;
            margin-right: 60px;
        }
        &--green{
            color: $green;
            font-family: sansb;
            
        }
        &--bold{
            font-family: sansb;
            
        }
    }  
    &__h1{
        width: 1030px;;
        margin: 60px auto 40px auto;
        font-family: sans;
        font-size: 20px;
        color: $black;
    }  
    &__slide{
        overflow: hidden;
        display: flex;
    }  
    &__container{
        width: 0;
        margin: 0 auto;
        overflow: hidden;
        transition: 0.5s all ease-in-out;
        opacity: 0;
    }
}

.project{
    background-color: $background;
    &__content{
        display: flex;
        justify-content: center;
    }
    &__normal{
        background-image: url(../images/normal.png);
        width: 33.33%;
        height: 318px;
        background-position: center;
        transition: 0.5s all ease-in-out;
        &:hover{
            width: 57%;
        }
        &:hover .project__normal--hover{
            opacity: 0;
        }
        &--hover{
            background-color: rgba(0, 0, 0, 0.85);
            width: 100%;
            height: 318px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: 0.5s all ease-in-out;
            & p{
                font-family: sourcesansl;
                font-size: 20px;
                color: $white}
            &:hover{
                opacity: 0;
            }
        }
    }
    &__vintage{
        background-image: url(../images/vintage.png);
        width: 33.33%;
        height: 318px;
        background-position: center;
        transition: 0.5s all ease-in-out;
        &:hover{
            width: 57%;
        }
        &:hover .project__vintage--hover{
            opacity: 0;
        }
        &--hover{
            background-color: rgba(0, 0, 0, 0.85);
            width: 100%;
            height: 318px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: 0.5s all ease-in-out;
            & p{
                font-family: sourcesansl;
                font-size: 20px;
                color: $white}
            &:hover{
                opacity: 0;
            }
        }
    }
    &__branding{
        background-image: url(../images/brnding.png);
        width: 33.33%;
        height: 318px;
        background-position: center;
        transition: 0.5s all ease-in-out;
        &:hover{
            width: 57%;
        }
        &:hover .project__branding--hover{
            opacity: 0;
        }
        &--hover{
            background-color: rgba(0, 0, 0, 0.85);
            width: 100%;
            height: 318px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: 0.5s all ease-in-out;
            & p{
                font-family: sourcesansl;
                font-size: 20px;
                color: $white}
            &:hover{
                opacity: 0;
            }
        }
    }
    
}

.submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
    background-image: url(../images/submit.png);
    background-color: $green;
    background-position: center;
    background-attachment: fixed;
    background-position-y: -365px;
    &__content{
        display: flex;
        justify-content: space-between;
        & p{
            font-family: sans;
            font-size: 20px;
            color: $white;
        }
        & a{
            font-family: sans;
            font-size: 16px;
            color: $white;
            width: 138px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $white;
            border-radius: 100px;
            text-decoration: none
        }
    }
    &__bold{
        font-family: sansb;
    }
}

.services{
    padding: 8rem 0 10rem;
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__slider{
        
    }
    &__icon{
        width: 53px;
        height: 53px;
        background-color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 12px 0;
        &:hover{
            background-color: $green;
        }
    }
    &__text{
        padding-top: 12px;
        margin-left: 45px;
        & h1{
            font-family: sans;
            font-size: 20px;
            color: $black;
        }
        & p{
            font-family: sans;
            font-size: 16px;
            color: $gray;
            margin-top: 30px;
            width: 40%;
        }
        &--green{
            font-family: sansb;
            color: $green;
        }
        &--bold{
            font-family: sansb;
            color: #636971;
        }
    }
    &__diagram{

    }
}

.quotes{
    background-color: #000000;
    background-image: url(../images/quotos.png);
    background-position: center;
    padding: 8rem 0 10rem 0;
    position: relative;
    background-attachment: fixed;
    background-position-y: -150px;
    &__content{
        display: flex;
        justify-content: space-between;
        & img{
            position: absolute;
            right: 6%;
            bottom: 140px;
            top: -50px;
            width: 409px;

        }
    }
    &__title{
        & h1{
            font-family: sourcesansl;
            font-size: 20px;
            color: $white;
        }
        & p{
            font-family: sans;
            font-size: 16px;
            color: $gray;
            line-height: 28px;
            width: 50%;
            margin: 6rem 0 3.3rem 0;
        }
        & h2{
            font-family: sansb;
            font-size: 14px;
            color: $gray;
            margin-bottom: 10px;
        }
        & h3{
            font-family: sans;
            font-size: 14px;
            color: $gray;
        }
        &--green{
            color: $green;
        }
    }
}
.portfolio{
    padding: 8rem 0 10rem;
    background-color: $background;
    &__menu{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        & p{
            font-family: sans;
            font-size: 16px;
            color: $black;
            margin: 0 15px;
            height: 30px;
            cursor: pointer;
            &:hover{
                &::after{
                    display: block;
                    content: " ";
                    width: 90%;
                    height: 2px;
                    background-color: $green;
                    margin: 0 auto; 
                    margin-top: 10px;
                }
            }
        }
    }
    &__gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-auto-columns: minmax(auto, auto); 
    }
    &__items{

    }
    &__start{
        padding: 58px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $green;
        background-image: url(../images/gallery.png);
        background-attachment: fixed;
        background-position-x: 55px;
        background-position-y: 1542px;
        & h1{
            font-family: sans;
            font-size: 20px;
            color: $white;
        }
        & a{
            font-family: sans;
            font-size: 16px;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 138px;
            height: 35px;
            border: 1px solid $white;
            border-radius: 100px;
            cursor: pointer;
            text-decoration: none;
            margin-top: 34px;
        }
        &--bold{
            font-family: sansb;
        }
    }
}
.team{
    padding: 8rem 0 10rem;
    display: flex;
    flex-direction: column;
    &__flex{
        display: flex;
        flex-direction: column;
    }
    &__content{
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    &__men{
        background-image: url(../images/team.png);
        height: 364px;
        min-width: 285px;
        width: 285px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover .team__social{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__social{
        background-color: rgba(255, 255, 255, 0.75);
        height: 340px;
        width: 261px;
        display: none;
        
        
        & a{
            font-family: fontello;
            color: $green;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 50%;
            
        }
    }
    &__skill{
        padding-right: 115px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &--p{
            font-family: sans;
            color: $gray;
            font-size: 14px;
            width: 70%;
            text-align: right;
            margin:30px 0 50px 0;
        }
    }
    &__name{
        position: relative;
        & h1{
            font-family: sans;
            color: #464646;
            font-size: 20px;
            text-align: right;
            margin-bottom: 3px;
        }
        & p{
            font-family: sourcesansl;
            color: $gray;
            font-size: 14px;
            text-align: right;
        }
        &:after{
            display: block;
            content: " ";
            width: 4px;
            height: 42px;
            background-color: green;
            position: absolute;
            top: 5px;
            right: -45px;
            
        }
    }
    &__diagram{
        width: 330px;
        & h1{
            font-family: sourcesansl;
            color: $gray;
            font-size: 16px;
        }
        & p{
            font-family: sourcesansl;
            color: $gray;
            font-size: 16px;
        }
    }
    &__branding{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--diagram{
            width: 330px;
            height: 4px;
            background-color: #e1e4e9;
            margin-top: 5px;
            &:after{
                display: block;
                content: " ";
                width: 80%;
                height: 4px;
                background-color: $green;
            }
        }
    }
    &__design{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 35px 0;
        &--diagram{
            width: 330px;
            height: 4px;
            background-color: #e1e4e9;
            margin-top: 5px;
            &:after{
                display: block;
                content: " ";
                width: 65%;
                height: 4px;
                background-color: $green;    
            }
        }
    }
    &__interface{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--diagram{
            width: 330px;
            height: 4px;
            background-color: #e1e4e9;
            margin-top: 5px;
            &:after{
                display: block;
                content: " ";
                width: 75%;
                height: 4px;
                background-color: $green;
                
            }
        }
    }
    &__slider{
        display: flex;
        justify-content: center;
        padding-top: 60px;
        
    }
    &__circle{
        width: 8px;
        height: 8px;
        border: 1px solid $green;
        border-radius: 50%;
        margin: 0 5px;
        &:hover{
            background-color: $green;
        }
    }
}
.teamCTA{
    padding: 58px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    background-image: url(../images/teamCTA.png);
    background-position: center;
    background-attachment: fixed;
    background-position-x: 0;
    background-position-y: 1823px;
    & h1{
        font-family: sans;
        font-size: 20px;
        color: $white;
    }
    & a{
        font-family: sans;
        font-size: 16px;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 138px;
        height: 35px;
        border: 1px solid $white;
        border-radius: 100px;
        cursor: pointer;
        text-decoration: none;
        margin-top: 34px;
    }
    &--bold{
        font-family: sansb;
    }
}
.testimonials{
    padding: 8rem 0 10rem;
    background-color: $background;
    &__people{
        padding: 5rem 0 6rem;
        background-color: $white;
        display: flex;
        flex-direction: column;
    }
    &__content{
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        
        & img{
            margin-left: 10rem;
        }
        &__container{
            height: 155px;
            overflow: hidden;
        }
    }
    
    &__text{
        width: 70%;
        padding-left: 70px;
        padding-right: 15px;
        & p{
            font-family: sans;
            font-size: 16px;
            color: $gray;
            margin-bottom: 30px;
            line-height: 28px;
        }
        & h1{
            font-family: sansb;
            font-size: 16px;
            color: $green;
        }
        & h2{
            font-family: sans;
            font-size: 14px;
            color: $black;
        }
    }
    &__circle{
        @extend .team__circle;
            &:hover{
                background-color: $green;
            }
    }
    &__slider{
        display: flex;
        justify-content: center;
        padding-top: 60px;
        
    }
}

.blog{
    padding: 8rem 0 10rem;
    background-color: #000000;
    background-image: url(../images/blog.png);
    background-position: center;
    background-attachment: fixed;
    background-position-y: -100px;
    box-shadow: inset 0 300px 500px 0 rgba(0, 0, 0, 0.78);
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__first{
       display: none;
       flex-direction: column;
    }
    &__second{
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        height: 543px;
        z-index: 5;
        & p{
            
        }
    }
    &__thirt{
        display: none;
        height: 543px;
        flex-direction: column
    }
    &__video{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &__playvideo{
        display: none;
        position: absolute;
        z-index: 1;
        left: 260px;
    }
    &__img{
        
        cursor: pointer;
    }
    &__title{
        & h1{
            font-family: sourcesansl;
            font-size: 20px;
            color: $white;
            margin-bottom: 35px;
        } 
        & p{
            font-family: sans;
            font-size: 14px;
            color: #b2b3b3;
            margin-bottom: 100px;
            width: 40%;
            line-height: 25px;
        }
        &--thirt{
            @extend .blog__title;
            margin-top: 80px;
            & h1{
                font-family: sourcesansl;
                font-size: 20px;
                color: $white;
                margin-bottom: 35px;
            } 
            & p{
                font-family: sans;
                font-size: 14px;
                color: #b2b3b3;
                margin-bottom: 100px;
                width: 40%;
                line-height: 25px;
            }
        }
    }
    &__text{
        padding-left: 70px;
        &--green{
            color: $green;
        }
        & h1{
            font-family: sans;
            font-size: 20px;
            color: $white;
            margin-bottom: 10px;
        } 
        & h2{
            font-family: sourcesansl;
            font-size: 14px;
            color: $gray;
            margin-bottom: 10px;
        } 
        & h3{
            font-family: sourcesansl;
            font-size: 14px;
            color: $black;
            margin-bottom: 55px;
        } 
        & p{
            font-family: sans;
            font-size: 14px;
            color: $gray;
            margin-bottom: 50px;
            width: 50%;
            line-height: 25px;
        }
        & a{
            font-family: sans;
            font-size: 16px;
            color: #b2b3b3;
            text-decoration: none;
            margin-bottom: 40px;
        }
    }
    &__circle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #b2b3b3;
        margin: 5px;
        &:hover{
            background-color: #b2b3b3;

        }
    }
}

.price{
    background-color: $background;
    padding: 8rem 0 9rem;
    &__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        &--hover{
            display: none;
        }
        
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        &--hover{
            display: none;
        }
        &:hover .price__choose{
            display: none;
        }
        &:hover .price__item--hover{
            display: block;
        }
    }
    &__choose{
        
    }
    &__name{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 234px;
        height: 67px;
        background-color: $green;
        & h1{
            font-family: sansb;
            font-size: 20px;
            color: $white;
        }
        &--link{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 234px;
            height: 67px;
            background-color: $green;
            cursor: pointer;
            text-decoration: none;
            font-family: sansb;
            font-size: 20px;
            color: $white;
        }
    }
    &__money{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 235px;
        width: 234px;
        background-color: $white;
        & h1{
            font-family: sourcesansb;
            font-size: 42px;
            color: $green;
        }
        & p{
            font-family: sourcesansb;
            font-size: 20px;
            color: $gray;
        }
        &--size{
            font-family: sourcesansb;
            font-size: 14px;
            color: $gray;
        }
        &--hover{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 235px;
            width: 234px;
            background-color: $white;
        }
    }
}
.subscribe{
    padding: 8rem 0 10rem;
    background-image: url(../images/subscribe.png);
    background-attachment: fixed;
    background-position: center;
    background-position-x: 0;
    background-position-y: -268px;
    
    & form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__input{
        width: 30%;
        height: 40px;
        border: 1px solid #cfd3d4;
        padding-left: 22px;
        font-family: sans;
        font-size: 14px;
        color: #cfd3d4;
        background: transparent;
        outline: none;
        

    }
    &__button{
        width: 150px;
        height: 44px;
        border: none;
        background-color: $green;
        font-family: sans;
        font-size: 14px;
        color: $white;
        margin-left: 5px;
        outline: none;
    }
}
.contact{
    padding: 8rem 0;
    background-color: $background;
    &__content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item{
        padding-bottom: 20px;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 287px;
        height: 145px;
        background-image: url(../images/email.png);
        background-position-y: -45px;
    }
    &__title{
        background-color: $white;
        padding: 30px 0;
        width: 287px;
        & h1{
            font-family: sans;
            font-size: 16px;
            color: $black;
            margin-bottom: 10px;
            text-align: center;
        }
        & p{
            font-family: sans;
            font-size: 14px;
            color: $gray;
            text-align: center;
            line-height: 20px;
            letter-spacing: 1px;
        }
    }
}
.form{
    padding: 8rem 0 13rem;
    &__contact{
        width: 100%;
        display: flex;
        justify-content: left;
    }
    &__input{
        @extend .subscribe__input;
        margin-bottom: 20px;
        outline: none;
        color: #a9a9a9;
        margin-right: 10px;
    }
    &__message{
        border: 1px solid #cfd3d4;
        padding-left: 22px;
        font-family: sans;
        font-size: 14px;
        color: #a9a9a9;
        outline: none;
        margin-bottom: 20px;
        width: 97%;
    }
    &__button{
        @extend .subscribe__button;
        width: 100%;
        margin: 0;
        width: 99%;
    }

} 

.map{
    position: relative;
    &__google{
        
    }
    &__title{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
        box-shadow: inset 0 10000px rgba(0, 0, 0, 0.88);
        cursor: pointer;
        
    }
    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        & h1{
            font-family: sans;
            font-size: 16px;
            color: $white;
        }
        & p{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            background-color: $green;
            font-family: fontello;
            font-size: 16px;
            color: $white;
            border-radius: 50%;
            margin-left: 18px;
            animation-name: map;
            animation-duration: 1.2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-direction: normal;
            @keyframes map {
                0%{
                    transform:translateY(-5px);
                }
                100%{
                    transform:translateY(5px)
                }
                
            }
        }
    }
}

.footer{
    padding: 8rem 0 9rem;
    background-color: #f3f3f3;
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & h1{
            font-family: logo;
            font-size: 25px;
            color: #323a45;
            margin-bottom: 20px;
        }
        & p{
            font-family: sans;
            font-size: 14px;
            color: $gray;
            margin-bottom: 35px;
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        & a{
            color: $white;
            font-family: fontello;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26px;
            height: 26px;
            margin: 0 5px;
            border-radius: 50%;
            cursor: pointer;
            text-decoration: none;
        }
        &--facebook{
            background-color: #3b5998 ;
            
        }
        &--twitter{
            background-color: #26a6d1 ;
        }
        &--linkedin{
            background-color: #0e76a8 ;
        }
        &--instagram{
            background-color: #3f729b ;
        }
        &--vimeo{
            background-color: #86c9ef ;
        }
    }
}

@media (max-width: 1200px){
    .container{
        width: 90%
    }
    .submit{
        padding: 38px 20px;
    }
    .form{
        max-width: 90%;
    }
    .slider__container{
        width: 90%;
    }
}
@media (max-width: 1070px){
    .form__input{
        
    }
    .form__contact{

    }
    .form__message{

    }
    .form__button{

    }
}
@media (max-width: 800px){
    .slider__title{
        display:none;
    }
    .slider__burger{
        display:flex;
    }
    .details__h1{
        width: 136px; 
    }
    .blog__title--thirt{
        display: none;
    }
    .details__container{
        display: flex;
        flex-direction: column;
    }
    .details__content{
        flex-direction: column;
        align-items: center;
    }
    .details__content p{
        height: 165px;
    }
    .details__content p{
        height: 200px;
    }
    .details__content--left{
        width: 50%;
    }
    .details__content--right{
        margin: 0;
    }
    .team__content{
        justify-content: flex-start;
    }
    .team__skill{
        padding-left: 20px;
    }
}
@media (max-width: 950px){
    .about{
        flex-direction: column-reverse;
    }
    .about__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__content{
        margin: 0;
    }
    .about img{
        margin: 0;
    }
    .quotes__title p{
        width: 30%;
    }
}
@media (max-width: 750px){
    .quotes__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;
    }
    .quotes__title p{
        width: 100%;
    }
    .quotes__content img{
        position: static;
    }
    .quotes__content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .submit__content{
        flex-direction: column;
        align-items: center;
    }
    .submit__content a{
        margin-top: 15px;
        
    }
    .submit__content p{
        text-align: center;
    }
    .testimonials__content{
        flex-direction: column;
        align-items: center;
    }
    .testimonials__content img{
        margin: 0 0 15px 0;
    }
}
@media (max-width: 650px){
    .blog__text{
        padding-left: 0;
    }
    .blog__content{
        flex-direction: column;
    }
    .blog__slider{
        display: flex;
    }
    .subscribe form{
        display: flex;
        flex-direction: column;
    }
    .subscribe__input{
        width: 50%;

    }
    .subscribe__button{
        width: 55%;
        margin-top: 10px;
        margin-left: 0;
    }


}
@media (max-width: 768px){
    .form__input{
        width: 96%;
    }
    .form__contact{
        flex-direction: column;
    }
    .form__message{
        width: 96%;
    }
    .form__button{
        width: 100%;
    }
}
@media (max-width: 1000px){
    .team__skill{
        align-items: flex-start;
        padding-left: 30px;
    }
    .team__skill--p{
        text-align: left;
        width: 58%;
    }
}
@media (max-width: 700px){
    .team__content{
        flex-direction: column;
    }
    .team__men{
        margin-bottom: 20px;
    }
    .team__skill{
        align-items: center;
        padding: 0;
    }
}

